<div style="width: 800px;height: 600px; margin-top: -250px;">
  <h6>Average response time of test suites</h6>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"></div>
      <mat-icon>folders</mat-icon> Test suite name 1
    </div>
    <span class="badge bg-success rounded-pill">2409ms</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"></div>
      <mat-icon>folders</mat-icon> Test suite name 2
    </div>
    <span class="badge bg-success rounded-pill">2409ms</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"></div>
      <mat-icon>folders</mat-icon> Test suite name 3
    </div>
    <span class="badge bg-success rounded-pill">2409ms</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"></div>
      <mat-icon>folders</mat-icon> Test suite name 3
    </div>
    <span class="badge bg-success rounded-pill">2409ms</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"></div>
      <mat-icon>folders</mat-icon> Test suite name 3
    </div>
    <span class="badge bg-success rounded-pill">2409ms</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div ></div>
      <mat-icon>folders</mat-icon> Test suite name 3
    </div>
    <span class="badge bg-success rounded-pill">2409ms</span>
  </li>
</ul>
</div>
