<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo1.webp" alt="Company Logo" />
  </div>

  <h5 class="mt-2">Reports</h5>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/report">
     Reports Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
     Functional Reports
  </a>
  <a mat-list-item routerLinkActive="list-item-active">
     Performance Reports
  </a>
  <a mat-list-item routerLinkActive="list-item-active">
     Process Flow
  </a>

</mat-nav-list>
